VITE_API_BASE_URL=https://<tu-function-app>.azurewebsites.net/api

VITE_ENTRA_CLIENT_ID=<client-id-de-la-app-registrada-en-entra>
VITE_ENTRA_TENANT_SUBDOMAIN=<tu-tenant>
VITE_ENTRA_TENANT_ID=<tenant-id-guid>
VITE_API_SCOPE=api://<client-id-de-la-api>/access_as_user
